
.blogSection {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    /* text-align: center; */
}

.h3 {
    text-align: center;
    margin: 0 0 1rem 0;
    padding: 2.25rem 0 0;
    border-top: rgba(0, 0, 0, 0.05) solid;
    font-size: 1.5rem;
}

.postsTable {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 2fr));
    gap: 1rem;
}

.postBox {
    height: 35rem;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
}