
.blogPostPage {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.divImage {
    display: flex;
    justify-content: center;
    align-self: center;

    background-image: url(../../public/images/bled.webp);
    width: 100%;
    max-width: 1300px;
    height: 650px;
    /* object-fit: cover; */
    background-size: cover;
    /* object-position: center center; */
    background-position: center center;
    border-radius: 1rem;
}

.mainImage {
    width: 100%;
    max-width: 1300px;
    height: 650px;
    object-fit: cover;
    object-position: center center;
    border-radius: 1rem;
}

.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.mainSection article {
    width: 100%;
    max-width: 1300px;
}







@media screen and (min-width: 780px) {
    .blogPostPage {
        padding: 0 1rem;
    }

    .divImage {
        height: 850px;
    }
}

@media screen and (min-width: 1250px) {
    .divImage {
        height: 690px;
    }
}