
footer {
    display: flex;
    justify-content: center;
    background-color: #c5d893;
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}

.contactsSectionInFooter {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.logoLinkStyle {
    font-family: 'Coming Soon', cursive; 
    text-decoration: none;
    display: flex;
    align-items: center;
}

.linkStyleMenu {
    text-decoration: none;
    color: #fbfcf6;
    background-color: #ac5b4d;
    padding: .8rem;
    border-radius: 14px;
    transition: 1s;
}

.active-link {
    background-color: #fc9d45;
    color: #ac5b4d;
    transition: 1s;
}
