
.header {
    display: flex;
    justify-content: center;
    background-color: #c5d893;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    z-index: 3000;
}

.navigation {
    padding: .7rem;
    width: 100%;
    display: flex;
}

.menuNavigationCentre {
    list-style-type: none;
    padding: 0;
    margin: auto 1rem;
    display: flex;
    justify-content: right;
    flex-grow: 4;
}

.logoSectionLeft {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.linkStyleMenu {
    text-decoration: none;
    color: #fbfcf6;
    background-color: #ac5b4d;
    padding: .8rem;
    border-radius: 14px;
    transition: 1s;
}

.active-link {
    background-color: #fc9d45;
    color: #ac5b4d;
    transition: 1s;
}

.logoLinkStyle {
    font-family: 'Coming Soon', cursive;    
    text-decoration: none;
    display: flex;
    align-items: center;
}