
.mapContainer {
    width: 96%; /* 95 */
    height: 500px;  /* 600 */ 
    border: 2px solid #ccc; 
    margin: 1rem auto 1rem;
    overflow: hidden;
    border-radius: 20px;
    border-style: none;
    max-width: 1300px;
    width: 100%;
}

.popUpBox p {
    margin: 0;
}
 
.popUpBox {
    display: flex;
    flex-direction: column;
    width: 17rem;
}

.popUpMain {
    display: flex;
    flex-direction: column;
}

.popUpInfo {
    display: flex;
    flex-direction: column;
    margin-left: .4rem;
    text-align: center;
}

.postCoverImage {
    max-width: 100%;
    border-radius: 1rem;
}




@media screen and (min-width: 800px) {
    .mapContainer {
        height: 625px;
    }
}

@media screen and (min-width: 1275px) {
    .mapContainer {
        height: 675px;
    }
}