
.mapInBlogContainer {
    height: 400px;  /* 600 */ 
    margin: 1rem auto 1rem;
    overflow: hidden;
    border-radius: 20px;
    border-style: none;
    max-width: 1300px;
    width: 100%;
}

.popUpBoxInPost {
    display: flex;
    flex-direction: column;
    width: 17rem;
}

.postCoverImageInPost {
    object-fit: cover;
    object-position: center center;
    height: 20rem;
    max-width: 100%;
    border-radius: 1rem;
}