
.popUpInfo {
    background: #e68b0b67;
    border-radius: 1rem;
    padding: 1rem;
}

.popUpTitle {
    margin: .75rem 0 0;
    padding-bottom: .4rem;
    display: flex;
    justify-content: space-between;
}

.clicked {
    border-bottom: rgba(0, 0, 0, 0.05) solid;
}

.popUpTitle p {
    margin: 0 !important;
    font-size: 1.5rem !important;
}

.imgArrow {
    margin-right: .2rem;
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}

.rotate {
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;
}

.popUpContent {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.popUpContent.open {
    max-height: 1000px; /* Adjust to your desired max-height */
    opacity: 1;
}
  

  
  

.popUpContent p {
    font-size: 1.15rem !important;
    font-weight: 300;
    line-height: 1.8rem !important;
    margin-bottom: .3rem;
}