
.mainArticle {
    background: #e68b0b67;
    padding: 1rem;
    border-radius: 1rem;
}

.firstP {
    border-bottom: rgba(0, 0, 0, 0.07) solid;
    margin: 0 0 .5rem 0;
    padding-bottom: .2rem;
    font-size: 1.15rem;
    font-weight: 300;
}

.firstSpan {
    font-size: 1.25rem;
    margin: 0;
    font-weight: 500;
}

.mainArticle p {
    margin: .5rem;
    font-size: .95rem;
    font-weight: 300;
}

.containerForInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: .2rem;
}

.values {
    font-size: 1.05rem;
    font-weight: 500;
}