
.leaflet-popup-content {
    margin: 1rem;
    height: 100%;
    width: 327.5px !important;
    overflow: hidden;
}

/* .leaflet-popup-content [style*="width: 301px;"] {
    width: 312px;
  } */

.leaflet-popup-content-wrapper {
    width: 22.5rem;
    height: 28.5rem;
    overflow: hidden;
    border-radius: 1.25rem;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #f2f6e8;
}