
.header {
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    z-index: 3000;
}

.menuNavigationCentre {
    list-style-type: none;
    padding: 0;
    margin: auto 1rem;
    display: flex;
    justify-content: right;
    flex-grow: 4;
}

.navigation {
    padding: .4rem;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}

.logoSectionLeft {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.buttonToGithub {
    background-color: aquamarine;
    border: none;
    border-radius: 15px;
    color: blueviolet;
    padding: 1rem;
    min-width: 8rem;
    min-height: 3rem;
}

.buttonToGithub:hover {
    background-color: blue;
    color: blanchedalmond;
    transition: .9s;
}

.buttonToGithub :focus {
    outline-color: transparent;
    outline-style:solid .9rem #5a01a7;
    transition: .9s;
}

.buttonRight {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: right;
}

footer {
    display: flex;
    justify-content: center;
}

.contactsSectionInFooter {
    list-style-type: none;
    padding: 0;
}

.descriptionSection {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main {
    margin-top: 7rem;
}

.mapContainer {
    width: 96%; /* 95 */
    height: 685px;  /* 600 */ 
    border: 2px solid #ccc; 
    margin: 1rem auto 1rem;
    overflow: hidden;
    border-radius: 20px;
    border-style: none;
}

main h2 {
    text-align: center;
}

.blogSection {
    text-align: center;
}

.aboutMeSection {
    margin-top: 6.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
}

.blogSection {
    display: flex;
    flex-direction: column;
}

.postsTable {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 2fr)); /* Adjust min and max width as needed */
    gap: 1rem;
}

.postUnit {
    display: flex;
    flex-direction: column;
    padding: .6rem;
    box-sizing: border-box;
    border-style: none;
    border-radius: 1rem;
    background-color: rgb(33, 119, 119);

}

.postCoverImage {
    
    max-width: 100%;
    border-radius: 1rem;
}