
header {
    display: flex;
    justify-content: center;
}

.navigation {
    list-style-type: none;
    padding: 0;
}

footer {
    display: flex;
    justify-content: center;
}

.contactsSectionInFooter {
    list-style-type: none;
    padding: 0;
}

.descriptionSection {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mapContainer {
    width: 95%; /* 95 */
    height: 400px;  /* 600 */ 
    border: 2px solid #ccc; 
    margin: 1rem auto 1rem;
    overflow: hidden;
    border-radius: 20px;
    border-style: none;
}

main h2 {
    text-align: center;
}

.blogSection {
    text-align: center;
}

.aboutMeSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
}