
html, body {
    background-color: rgb(255, 247, 237);
    font-family: 'Shantell Sans', cursive;
    margin: 0;
    display: flex;
    width: 100%;

    background-color: #fbfcf6;
}

#root {
    width: 100%;
}